<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="d-flex justify-content-between table-header">
    <h1>Estudiantes</h1>
    <button *ngIf="hasPrivileges()" class="btn btn-custom action-btn">Agregar Estudiante</button>
  </div>

  <div class="filter-options row">
    <div class="d-flex justify-content-between">
      <div class="row w-100">
        <div class="col-3">
          <label for="nameSearch"><strong>Buscar Estudiante:</strong></label>
          <input type="text" class="form-control" id="nameSearch" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar por nombre o correo">
        </div>
        <div class="col-3">
          <label for="sedeFilter"><strong>Filtrar por Sede:</strong></label>
          <select class="form-control" id="sedeFilter" [(ngModel)]="selectedSede" (change)="onFilterChange()">
            <option value="">Todos</option>
            <option *ngFor="let sede of sedes" [value]="sede">{{sede}}</option>
          </select>
        </div>

        <div class="col-3">
          <label for="orderFilter"><strong>Ordenar por:</strong></label>
          <select class="form-control" id="orderFilter" [(ngModel)]="selectedOrder" (change)="onFilterChange()">
            <option value="nombre">Nombre</option>
            <option value="primerApellido">Primer Apellido</option>
            <option value="segundoApellido">Segundo Apellido</option>
            <option value="correo">Correo</option>
            <option value="telefono">Telefono</option>
          </select>
        </div>
      </div>

      <div class="btn-group mt-2" role="group" aria-label="Registros">
        <button type="button" class="btn btn-success btn-custom">
          <i class="bi bi-download"></i> Descargar
        </button>
        <button type="button" class="btn btn-info btn-custom">
          <i class="bi bi-upload"></i> Cargar
        </button>
      </div>
    </div>
  </div>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Sede</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="estudiantes.length === 0">
      <tr>
        <td colspan="9">No hay estudiantes registrados</td>
      </tr>
    </tbody>
    <tbody *ngIf="estudiantes.length > 0">
      <tr *ngFor="let estudiante of estudiantes | paginate: { itemsPerPage: pageSize, currentPage: p }">
        <td>{{estudiante.nombre}}</td>
        <td>{{estudiante.primerApellido}}</td>
        <td>{{estudiante.segundoApellido}}</td>
        <td>{{estudiante.correo}}</td>
        <td>{{estudiante.telefono}}</td>
        <td>{{estudiante.sede}}</td>
        <td>
          <!-- <button class="btn btn-custom action-btn" (click)="seleccionarEstudiante(estudiante);changeEditMode(false)">Ver Detalles</button> -->

          <button *ngIf="hasPrivileges()" class="btn btn-custom action-btn" (click)="changeEditMode(true);seleccionarEstudiante(estudiante)">Editar</button>
          <button *ngIf="hasPrivileges()" class="btn btn-custom action-btn">Eliminar</button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="estudiantes.length > 0" class="table-footer">
      <tr>
        <td colspan="9">
          <pagination-controls (pageChange)="p = $event" class="table-pagination"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
