<app-navbar></app-navbar>
<!-- Tu plantilla HTML -->

<div class="container">
  <!-- Combobox para seleccionar el semestre -->
  <div class="form-group right-group">
    <label for="semester">Semestre:</label>
    <select class="form-control" id="semester" [(ngModel)]="selectedSemester" (change)="loadEstudiantes()">
      <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
    </select>
  </div>
  
  <!-- Combobox para seleccionar el año de ingreso -->
  <div class="form-group right-group">
    <label for="entryYear">Año de ingreso:</label>
    <select class="form-control" id="entryYear" [(ngModel)]="selectedEntryYear" (change)="loadEstudiantes()">
      <option *ngFor="let year of entryYears" [value]="year">{{ year }}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar...">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary btn-custom" type="button">Buscar</button>
    </div>
  </div>

  <div class="btn-group mb-3" role="group" aria-label="Filtros">
    <button type="button" class="btn btn-secondary btn-custom">Orden Alfabético</button>
    <button type="button" class="btn btn-secondary btn-custom">Por Campus</button>
    <button type="button" class="btn btn-secondary btn-custom">Por Carné</button>
  </div>

  <div class="btn-group mb-3" role="group" aria-label="Registros">
    <button type="button" class="btn btn-success btn-custom">
      <i class="bi bi-download"></i> Descargar
    </button>
    <button type="button" class="btn btn-info btn-custom">
      <i class="bi bi-upload"></i> Cargar
    </button>
  </div>
  <!-- Tabla para mostrar los estudiantes -->
  <table class="table">
    <thead>
      <tr>
        <th>Carné</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Correo Electrónico</th>
        <th>Número de Teléfono</th>
        <th>Campus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of estudiantes">
        <td>
          <input type="text" class="form-control" [value]="estudiante.institutionId" [readonly]="!estudiante.editable">
        </td>
        <td>
          <input type="text" class="form-control" [value]="estudiante.name" [readonly]="!estudiante.editable">
        </td>
        <td>
          <input type="text" class="form-control" [value]="estudiante.firstLastname" [readonly]="!estudiante.editable">
        </td>
        <td>
          <input type="text" class="form-control" [value]="estudiante.secondLastname" [readonly]="!estudiante.editable">
        </td>
        <td>
          <input type="text" class="form-control" [value]="estudiante.email" [readonly]="!estudiante.editable">
        </td>
        <td>
          <input type="text" class="form-control" [value]="estudiante.personalPhone" [readonly]="!estudiante.editable">
        </td>
        <td>
          <input type="text" class="form-control" [value]="estudiante.campus" [readonly]="!estudiante.editable">
        </td>
        <td>
          <button class="btn btn-primary btn-custom" (click)="toggleEdit(estudiante)">
            {{ estudiante.editable ? 'Guardar' : 'Editar' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <!-- Agrega más páginas según sea necesario -->
    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
  </ul>
</div>