<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="d-flex justify-content-between table-header">
    <h1>Estudiantes</h1>
  </div>

  <div class="filter-options row">
    <div class="d-flex justify-content-between">
      <div class="row w-100">
        <div class="col-3">
          <label for="nameSearch"><strong>Buscar Estudiante:</strong></label>
          <input type="text" class="form-control" id="nameSearch" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Buscar por nombre o correo">
        </div>
        <div class="col-3">
          <label for="sedeFilter" *ngIf="isProfe()||isCoordinador()"><strong>Filtrar por Sede:</strong></label>
          <select class="form-control"*ngIf="isProfe()||isCoordinador()" id="sedeFilter" [(ngModel)]="selectedSede" (change)="onFilterChange()">
            <option value="">Todos</option>
            <option *ngFor="let sede of sedes" [value]="sede">{{sede}}</option>
          </select>
        </div>

        <div class="col-3">
          <label for="orderFilter"><strong>Ordenar por:</strong></label>
          <select class="form-control" id="orderFilter" [(ngModel)]="selectedOrder" (change)="onSortChange()">
            <option value="Carnet">Carné</option>
            <option value="Nombre">Nombre</option>
            <option value="Primer Apellido">Primer Apellido</option>
            <option value="Segundo Apellido">Segundo Apellido</option>
            <option value="Correo">Correo</option>
            <option value="Telefono">Telefono</option>
          </select>
        </div>
      </div>

      <div class="btn-group mt-2" role="group" aria-label="Registros">

        <button type="button" *ngIf="isProfe()||isCoordinador()" class="btn btn-success btn-custom" (click)="descargarExcel()">
          <i class="bi bi-download"></i> Descargar
        </button>

        <label type="button" *ngIf="isAdmin()" class="btn btn-info btn-custom">
          <input #fileInput type="file" style="display: none;" (change)="cargarExcel($event)" accept=".xlsx, .xls">
          <i class="bi bi-upload"></i> Cargar
        </label>
      </div>
    </div>
  </div>

  <hr>

  <table class="table" *ngIf="estudiantes.length > 0">
    <thead>
      <tr>
        <th scope="col">Carné</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Teléfono Personal</th>
        <th scope="col">Campus</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="estudiantes.length > 0">
      <tr *ngFor="let estudiante of estudiantes | paginate: { itemsPerPage: pageSize, currentPage: p }">

        <td><label>{{ estudiante.institutionID }}</label></td>
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.primerApellido }}</td>
        <td>{{ estudiante.segundoApellido }}</td>
        <td>{{ estudiante.correo }}</td>
        <td>{{ estudiante.personalPhone }}</td>
        <td>{{ estudiante.sede }}</td>
        <td>
          <button *ngIf="isAdmin() || isCoordinador() || isProfe()" class="btn btn-custom action-btn" (click)="editStudent(estudiante)">Editar</button>
          <!-- Puedes agregar más botones de acciones aquí si es necesario -->
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="estudiantes.length == 0">
      <tr>
        <td colspan="7" class="text-center">No se encontraron estudiantes</td>
      </tr>
    </tbody>

    <tfoot *ngIf="estudiantes.length > 0" class="table-footer">
      <tr>
        <td colspan="7">
          <pagination-controls (pageChange)="p = $event" class="table-pagination"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
