/* Estilos personalizados */
.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem; /* Tamaño del texto del logo */
  margin-left: 1%; /* Agrega un espacio entre el logo y los elementos a la derecha */
}

.bg-custom {
  background-color: #002855; /* Cambia esto al color deseado */
}

/* Alinear los elementos a la derecha */
.navbar-nav {
  margin-right: auto;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
  padding: 0.5rem 1rem 0; /* Espaciado interior de los enlaces, sin padding inferior */
  position: relative; /* Establecer posición relativa para alinear la línea */
  color: #fff; /* Color del texto */
  display: inline-block;
  

}

/* Ajustar el espacio entre los elementos de la lista desplegable */
.dropdown-menu {
  margin-top: 10px; /* Agrega espacio entre el nombre de usuario y los elementos de la lista desplegable */
}

/* Estilos para la línea debajo del enlace */
.navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: -14px; /* Ajusta la posición vertical de la línea */
  left: 0;
}

/* Estilo para la línea al pasar el mouse */
.navbar-nav .nav-item:hover .nav-link::after {
  
  background-color: #EF3340;
}

/* Estilo para la línea en el enlace activo */
.navbar-nav .nav-item.active .nav-link::after {
  background-color: #EF3340;
}

/* Estilos para el botón del navbar-toggler */
.navbar-toggler {
  border: none; /* Eliminar el borde del botón */
}

/* Estilos para los íconos */
.navbar-nav .nav-link {
  font-size: 1.2rem; /* Tamaño del texto de los enlaces */
}

/* Media Query para ajustar el tamaño del texto en dispositivos pequeños */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 1rem; /* Reducir el tamaño del texto en dispositivos pequeños */
  }
}

.logout-btn {
  margin-right: 1%; /* Agrega espacio entre el botón de cierre de sesión y los elementos a la izquierda */
}

/* When clicked */
.logout-btn:active {
  background-color: #A5A5A5; /* Cambia esto al color deseado */
}

