/* Estilos personalizados */
.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem; /* Tamaño del texto del logo */
  /*font-weight: bold;*/ /* Negrita para el logo */
  margin-left: 1%; /* Agrega un espacio entre el logo y los elementos a la derecha */

}
.bg-custom {
  background-color: #002855; /* Change this to the desired color */
}
/* Alinear los elementos a la derecha */
.navbar-nav {
  margin-right: auto;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
  padding: 0.5rem 1rem; /* Espaciado interior de los enlaces */
  position: relative; /* Establecer posición relativa para alinear la línea */
  color: #fff; /* Color del texto */
}

/* Ajustar el espacio entre los elementos de la lista desplegable */
.dropdown-menu {
  margin-top: 10px; /* Agrega espacio entre el nombre de usuario y los elementos de la lista desplegable */
}

/* Estilos para la línea debajo del enlace activo */
    /* Cambiar el color del botón cuando está seleccionado */

    /* Resaltar el botón al pasar el mouse por encima */

    .navbar-nav .nav-item:hover .nav-link {
      color: #EF3340; /* Cambia el color a tu preferencia */
      border-bottom: 2px solid #EF3340; /* Añade el borde inferior */
      padding-bottom: 0.4rem; /* Ajusta el relleno inferior para compensar el borde */
    }
/* Estilos para el botón del navbar-toggler */
.navbar-toggler {
  border: none; /* Eliminar el borde del botón */
}

/* Estilos para los íconos */
.navbar-nav .nav-link {
  font-size: 1.2rem; /* Tamaño del texto de los enlaces */
}

/* Media Query para ajustar el tamaño del texto en dispositivos pequeños */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 1rem; /* Reducir el tamaño del texto en dispositivos pequeños */
  }
}

/* Estilos para el enlace activo */
.navbar-nav .nav-item.active .nav-link {
  color: #EF3340; /* Cambia el color a tu preferencia */
  border-bottom: 2px solid #EF3340; /* Añade el borde inferior */
  padding-bottom: 0.4rem; /* Ajusta el relleno inferior para compensar el borde */
}
