<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand logo" routerLink="/" style="font-family: 'Roboto', sans-serif;">TECGuia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isSelected('/')">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item" [class.active]="isSelected('/estudiantes')" *ngIf="!isStudent()">
        <a class="nav-link" routerLink="/estudiantes" routerLinkActive="active">Estudiantes</a>
      </li>
      <li class="nav-item" [class.active]="isSelected('/actividades')">
        <a class="nav-link" routerLink="/actividades" routerLinkActive="active">Actividades</a>
      </li>
      <li class="nav-item" [class.active]="isSelected('/equipo')" *ngIf="!isStudent()">
        <a class="nav-link" routerLink="/equipo" routerLinkActive="active">Equipo</a>
      </li>
      <li class="nav-item" [class.active]="isSelected('/perfil')" *ngIf="isStudent()">
        <a class="nav-link" routerLink="/perfil" routerLinkActive="active">Perfil</a>
      </li>
    </ul>
  </div>

  <!-- Notifications -->
  <button type="button" class="btn" [ngClass]="{'btn-danger': hasNotifications(), 'btn-secondary': !hasNotifications()}" routerLink="/notificaciones" *ngIf="isStudent()">
      <i class="bi" [ngClass]="{'bi-bell-fill': hasNotifications(), 'bi-bell': !hasNotifications()}"></i>
      <span *ngIf="hasNotifications()" class="badge badge-light">{{ countNotifications() }}</span>
  </button>

  <button class="logout-btn btn btn-outline-light my-2 my-sm-0" (click)="logout()">Cerrar sesión</button>
</nav>
