<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="d-flex justify-content-between table-header">
    <h1>Equipo de Profesores</h1>
    <button *ngIf="hasPrivileges()" class="btn btn-custom action-btn">Agregar Profesor</button>
  </div>

  <div class="filter-options row mb-5">
    <div class="col">
      <label for="sedeFilter">Filtrar por Sede:</label>
      <select class="form-control" id="sedeFilter" [(ngModel)]="selectedSede" (change)="onFilterChange()">
        <option value="">Todos</option>
        <option *ngFor="let sede of sedes" [value]="sede">{{sede}}</option>
      </select>
    </div>

    <div class="col">
      <label for="coordinadorFilter">Filtrar por Coordinador:</label>
      <select class="form-control" id="coordinadorFilter" [(ngModel)]="selectedCoordinador" (change)="onFilterChange()">
        <option value="">Todos</option>
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rol</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono Oficina</th>
        <th scope="col">Telefono Celular</th>
        <th scope="col">Código</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="profesores.length === 0">
      <tr>
        <td colspan="9">No hay profesores registrados</td>
      </tr>
    </tbody>
    <tbody *ngIf="profesores.length > 0">
      <tr *ngFor="let profesor of profesores | paginate: { itemsPerPage: pageSize, currentPage: p }">
        <ng-container *ngIf="profesor.estaActivo">
        <td *ngIf="profesor.esCoordinador">{{profesor.rol}} (Coordinador)<p *ngIf="isCurrentUser(profesor)">(Tú)</p></td>
        <td *ngIf="!profesor.esCoordinador">{{profesor.rol}}</td>
        <td>{{profesor.nombre}}</td>
        <td>{{profesor.primerApellido}}</td>
        <td>{{profesor.segundoApellido}}</td>
        <td>{{profesor.correo}}</td>
        <td>{{profesor.telefonoOficina}}</td>
        <td>{{profesor.telefonoPersonal}}</td>
        <td>{{profesor.obtenerCodigo()}}</td>
        <td>
          <button class="btn btn-custom action-btn" (click)="seleccionarProfesor(profesor);changeEditMode(false)">Ver Detalles</button>

          <button *ngIf="isCurrentUser(profesor) || hasPrivileges()" class="btn btn-custom action-btn" (click)="changeEditMode(true);seleccionarProfesor(profesor)">Editar</button>
          <button *ngIf="isCurrentUser(profesor) || hasPrivileges()" class="btn btn-custom action-btn">Dar de Baja</button>
        </td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot *ngIf="profesores.length > 0" class="table-footer">
      <tr>
        <td colspan="9">
          <pagination-controls (pageChange)="p = $event" class="table-pagination"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="container mt-5 professor-info" *ngIf="profesores.length > 0 && profesorSeleccionado">
    <div class="d-flex justify-content-start">
      <div class="card">
        <div class="card-body">
          <img src="{{profesorSeleccionado.fotografia}}" class="card-img-top card-img" alt="...">
          <h3 class="card-title">{{profesorSeleccionado.obtenerNombreCompleto()}}</h3>
        </div>
      </div>
    </div>
    <div class="professor-info-details" *ngIf="!editMode">
      <p><strong>Rol:</strong> {{profesorSeleccionado.rol}}</p>
      <p><strong>Correo:</strong> {{profesorSeleccionado.correo}}</p>
      <p><strong>Telefono Oficina:</strong> {{profesorSeleccionado.telefonoOficina}}</p>
      <p><strong>Telefono Celular:</strong> {{profesorSeleccionado.telefonoPersonal}}</p>
      <p><strong>Código:</strong> {{profesorSeleccionado.obtenerCodigo()}}</p>
    </div>
    <div class="professor-info-details" *ngIf="editMode">
      <form class="">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" value="{{profesorSeleccionado.nombre}}">
            </div>
            <div class="col">
              <label for="primerApellido">Primer Apellido</label>
              <input type="text" class="form-control" id="primerApellido" value="{{profesorSeleccionado.primerApellido}}">
            </div>
            <div class="col">
              <label for="segundoApellido">Segundo Apellido</label>
              <input type="text" class="form-control" id="segundoApellido" value="{{profesorSeleccionado.segundoApellido}}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="correo">Correo</label>
              <input type="email" class="form-control" id="correo" value="{{profesorSeleccionado.correo}}">
            </div>
            <div class="col">
              <label for="telefonoOficina">Telefono Oficina</label>
              <input type="text" class="form-control" id="telefonoOficina" value="{{profesorSeleccionado.telefonoOficina}}">
            </div>
            <div class="col">
              <label for="telefonoPersonal">Telefono Personal</label>
              <input type="text" class="form-control" id="telefonoPersonal" value="{{profesorSeleccionado.telefonoPersonal}}">
            </div>
          </div>

          <label for="fotografia">Fotografía</label>
          <input class="form-control" type="file" id="fotografia">

          <label for="coordinador" *ngIf="hasMainPrivileges()">Es Coordinador?</label>
          <input class="form-checkbox" type="checkbox" id="coordinador" [checked]="profesorSeleccionado.esCoordinador" *ngIf="hasMainPrivileges()">
        </div>
      </form>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-custom action-btn" (click)="changeEditMode(false)">Cancelar</button>
        <button class="btn btn-custom action-btn">Guardar</button>
      </div>
    </div>
  </div>
</div>
