<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="d-flex justify-content-between table-header">
    <h1>Equipo de Profesores</h1>
    <button *ngIf="hasPrivileges()" class="btn btn-custom action-btn" (click)="changeCreatingMode(true)">Agregar Profesor</button>
  </div>

  <div class="filter-options row" *ngIf="isProfe()||isCoordinador()||isAdmin()">
    <div class="col" >
      <label for="sedeFilter">Filtrar por Sede:</label>
      <select class="form-control" id="sedeFilter" [(ngModel)]="selectedSede" (change)="onFilterChange()">
        <option value="">Todos</option>
        <option *ngFor="let sede of sedes" [value]="sede">{{sede}}</option>
      </select>
    </div>

    <div class="col">
      <label for="coordinadorFilter">Filtrar por Coordinador:</label>
      <select class="form-control" id="coordinadorFilter" [(ngModel)]="selectedCoordinador" (change)="onFilterChange()">
        <option value="">Todos</option>
        <option value="coordinador">Si</option>
        <option value="profesor guia">No</option>
      </select>
    </div>
  </div>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rol</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono Oficina</th>
        <th scope="col">Telefono Celular</th>
        <th scope="col">Código</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="profesores.length === 0">
      <tr>
        <td colspan="9">No hay profesores registrados</td>
      </tr>
    </tbody>
    <tbody *ngIf="profesores.length > 0">
      <tr *ngFor="let profesor of profesores | paginate: { itemsPerPage: pageSize, currentPage: p }">
        <ng-container *ngIf="profesor.estaActivo">
        <td>{{profesor.rol}}<p *ngIf="isCurrentUser(profesor)">(Tú)</p></td>
        <td>{{profesor.nombre}}</td>
        <td>{{profesor.primerApellido}}</td>
        <td>{{profesor.segundoApellido}}</td>
        <td>{{profesor.correo}}</td>
        <td>{{profesor.telefonoOficina}}</td>
        <td>{{profesor.telefonoPersonal}}</td>
        <td>{{profesor.codigo}}</td>
        <td>
          <button class="btn btn-icon action-btn" (click)="seleccionarProfesor(profesor);changeEditMode(false)">
            <i class="fas fa-info-circle"></i> <!-- Icono para ver detalles -->
          </button>
          
          <button class="btn btn-icon action-btn" *ngIf="isCurrentUser(profesor) || (hasPrivileges() && isCurrentUserSameCampus(profesor)) || hasMainPrivileges()"  (click)="changeEditMode(true);seleccionarProfesor(profesor)">
            <i class="fas fa-edit"></i> <!-- Icono para editar -->
          </button>
          
          <button class="btn btn-icon action-btn" *ngIf="isCurrentUser(profesor) || (hasPrivileges() && isCurrentUserSameCampus(profesor)) || hasMainPrivileges()"  (click)="darDeBaja(profesor)">
            <i class="fas fa-user-times"></i> <!-- Icono para dar de baja -->
          </button>
        </td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot *ngIf="profesores.length > 0" class="table-footer">
      <tr>
        <td colspan="9" class="pagination-container">
          <pagination-controls (pageChange)="p = $event" class="table-pagination"></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="container mt-5 professor-info" *ngIf="profesores.length > 0 && profesorSeleccionado">
    <div class="d-flex justify-content-start">
      <div class="card">
        <div class="card-body">
          <img [src]="getFileUrl('users', profesorSeleccionado.id)" class="card-img-top card-img" alt="...">
          <h3 class="card-title">{{profesorSeleccionado.obtenerNombreCompleto()}}</h3>
        </div>
      </div>
    </div>
    <div class="professor-info-details" *ngIf="!editMode">
      <p><strong>Rol:</strong> {{profesorSeleccionado.rol}}</p>
      <p><strong>Correo:</strong> {{profesorSeleccionado.correo}}</p>
      <p><strong>Telefono Oficina:</strong> {{profesorSeleccionado.telefonoOficina}}</p>
      <p><strong>Telefono Celular:</strong> {{profesorSeleccionado.telefonoPersonal}}</p>
      <p><strong>Código:</strong> {{profesorSeleccionado.codigo}}</p>
      <button class="btn btn-custom action-btn" (click)="profesorSeleccionado=null">Volver</button>
        
    </div>
    <div class="professor-info-details" *ngIf="editMode">
      <form>
        <div class="form-group" *ngIf="isCurrentUser(profesorSeleccionado) || (hasPrivileges() && isCurrentUserSameCampus(profesorSeleccionado))">
          <div class="row">
            <div class="col">
              <label for="nombre">Nombre</label>
              <input #nombreInput type="text" class="form-control" id="nombre" value="{{profesorSeleccionado.nombre}}">
            </div>
            <div class="col">
              <label for="primerApellido">Primer Apellido</label>
              <input #primerApellidoInput type="text" class="form-control" id="primerApellido" value="{{profesorSeleccionado.primerApellido}}">
            </div>
            <div class="col">
              <label for="segundoApellido">Segundo Apellido</label>
              <input #segundoApellidoInput type="text" class="form-control" id="segundoApellido" value="{{profesorSeleccionado.segundoApellido}}">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="correo">Correo</label>
              <input #correoInput type="email" class="form-control" id="correo" value="{{profesorSeleccionado.correo}}">
            </div>
            <div class="col">
              <label for="telefonoOficina">Telefono Oficina</label>
              <input #telefonoOficinaInput type="text" class="form-control" id="telefonoOficina" value="{{profesorSeleccionado.telefonoOficina}}">
            </div>
            <div class="col">
              <label for="telefonoPersonal">Telefono Personal</label>
              <input #telefonoPersonalInput type="text" class="form-control" id="telefonoPersonal" value="{{profesorSeleccionado.telefonoPersonal}}">
            </div>
          </div>
      
          <label for="fotografia">Fotografía</label>
          <input #fotoInput class="form-control" type="file" id="fotografia">
        </div>
        <div class="form-group" *ngIf="hasMainPrivileges()">
          <label for="coordinador">¿Es Coordinador?</label>
          <input #isCoordinadorInput class="form-checkbox" type="checkbox" id="coordinador" [(ngModel)]="profesorSeleccionado.esCoordinador" [ngModelOptions]="{standalone: true}">
        </div>
      </form>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-custom action-btn" (click)="changeEditMode(false);profesorSeleccionado=null">Cancelar</button>
        <button class="btn btn-custom action-btn"(click)="guardarProfesor()">Guardar</button>
      </div>
    </div>
  </div>
  <div class="container mt-5 professor-info" *ngIf="creatingMode">

    <div class="professor-info-details">
      <form>
        <div class="form-group" >
          <div class="row">
            <div class="col">
              <label for="nombre">Nombre</label>
              <input #nombreCreationInput type="text" class="form-control" id="nombre" >
            </div>
            <div class="col">
              <label for="primerApellido">Primer Apellido</label>
              <input #primerApellidoCreationInput type="text" class="form-control" id="primerApellido" >
            </div>
            <div class="col">
              <label for="segundoApellido">Segundo Apellido</label>
              <input #segundoApellidoCreationInput type="text" class="form-control" id="segundoApellido" >
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="correo">Correo</label>
              <input #correoCreationInput type="email" class="form-control" id="correo" >
            </div>
            <div class="col">
              <label for="telefonoOficina">Telefono Oficina</label>
              <input #telefonoOficinaCreationInput type="text" class="form-control" id="telefonoOficina" >
            </div>
            <div class="col">
              <label for="telefonoPersonal">Telefono Personal</label>
              <input #telefonoPersonalCreationInput type="text" class="form-control" id="telefonoPersonal" >
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="password">Contraseña</label>
              <input #contraseniaCreationInput type="password" class="form-control" id="password" >
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-custom action-btn" (click)="changeCreatingMode(false)">Cancelar</button>
        <button class="btn btn-custom action-btn"(click)="crearProfesor()">Guardar</button>
      </div>
    </div>
  </div>
  



