<div class="container-fluid mt-5 d-flex justify-content-center align-items-center" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="0" fxLayoutGap.xs="0" style="height: 100vh;">
    <div class="login-card mat-elevation-z8 mb-5" fxFlex="45%" style="margin-top: auto;">
        <main class="login-content" fxLayout="column" fxLayoutAlign="center center">
            <span class="login-header mb-5 mt-3">Recuperar Cuenta</span>
            <!-- Formulario de inicio de sesión -->
            <form [formGroup]="form" class="login-form align-items-center" fxLayout="column" (ngSubmit)="login($event)">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="Escribe tu correo electrónico" type="email" formControlName="email">
                    <mat-icon matPrefix>mail_outline</mat-icon>
                    <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                        Por favor, introduce una dirección de correo electrónico válida
                    </mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('required')">
                        El correo electrónico es <strong>obligatorio</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width" style="padding-top: 1rem;">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input matInput placeholder="Escribe tu nueva contraseña" type="password" formControlName="password1">
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <mat-error *ngIf="form.controls['password1'].hasError('required')">
                        La nueva contraseña es <strong>obligatoria</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width" style="padding-top: 1rem;">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput placeholder="Escribe tu nueva contraseña otra vez" type="password2" formControlName="password2">
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <mat-error *ngIf="form.controls['password2'].hasError('required')">
                        Confirmar la nueva contraseña es <strong>obligatorio</strong>
                    </mat-error>
                </mat-form-field>
                <button class="login-button mat-raised-button mb-3" color="warn" type="submit">Registrar nueva contraseña</button>
            </form>

        </main>
    </div>
</div>
