<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand logo" href="#" style="font-family: 'Roboto', sans-serif;">TECGuia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="selectedTab === 'Inicio'" (click)="selectedTab = 'Inicio'">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item" [class.active]="selectedTab === 'Estudiantes'" (click)="selectedTab = 'Estudiantes'">
        <a class="nav-link" href="/estudiantes">Estudiantes</a>
      </li>
      <li class="nav-item" [class.active]="selectedTab === 'Actividades'" (click)="selectedTab = 'Actividades'">
        <a class="nav-link" href="/actividades">Actividades</a>
      </li>
      <li class="nav-item" [class.active]="selectedTab === 'Equipo'" (click)="selectedTab = 'Equipo'">
        <a class="nav-link" href="/equipo">Equipo</a>
      </li>
    </ul>
  </div>
</nav>
