<app-navbar></app-navbar>
<div class="branding">
</div>

<div class="container">
    <h2>Bienvenido a TECGuia</h2>
    <p>Una plataforma de interacción entre estudiantes de primer ingreso y sus profesores guía, diseñada para facilitar el proceso de adaptación a la vida universitaria. Aquí encontrarás actividades, comentarios de las mismas y un grupo de profesores con gran experiencia en el ambiente académico para aprovechar al máximo tu experiencia académica y social.</p>
    <a routerLink="/actividades" routerLinkActive="active" class="cta-button">Explorar Actividades</a>
</div>




