/* Estilos generales para la estructura de la página */
.container {
  margin-top: 20px;
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
}

/* Estilos para los encabezados de los grupos de botones */
.btn-group-header {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos personalizados para los botones */
.btn-custom {
  background-color: #fff;
  border: 1px solid #002855;
  color: #002855;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #002855;
  color: #fff;
}

/* Estilos para el grupo de botones */
.btn-group {
  margin-right: 10px;
}

.btn-group:last-child {
  margin-right: 0;
}

/* Estilos para los filtros y ordenadores */
.btn-outline-primary, .btn-outline-success, .btn-outline-secondary, .btn-warning, .btn-danger {
  margin-right: 5px;
}
.btn-outline-secondary{
  background-color: none;
  color: #002855;
  border: 1px solid #002855;
  transition: background-color 0.3s ease;

}
.btn-outline-secondary:hover{
  background-color: #002855;
  color: #fff;
}

.btn-warning, .btn-danger {
  margin-right: 0;
}

/* Estilos para los íconos en los botones */
.btn-icon {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.btn-icon i {
  font-size: 1.5rem;
}

.btn-icon:hover i {
  color: #EF3340;
}

/* Estilos para la lista de notificaciones */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
}

.list-group-item-light {
  background-color: #f8f9fa;
}

.list-group-item-warning {
  background-color: #fff3cd;
}

/* Estilos para los botones de acción dentro de las notificaciones */
.list-group-item .btn-sm {
  margin-left: 5px;
}

/* Estilos para la paginación */
.pagination {
  justify-content: center;
  margin-top: 20px;
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.6;
}

.page-item.active .page-link {
  background-color: #002855;
  border-color: #002855;
  color: white;
}

.page-link {
  color: #002855;
  border: 1px solid #002855;
  margin: 0 2px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
  background-color: #002855;
  color: white;
}

/* Estilos adicionales para mejorar la apariencia */
.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

/* Estilos para los botones con íconos */
.btn-icon {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: #002855
}

.btn-icon i {
  font-size: 1rem; /* Ajusta el tamaño del ícono según sea necesario */
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}

.btn-icon:hover i {
  color: #EF3340; /* Cambia el color del ícono al pasar el mouse */
}