<app-navbar></app-navbar>

<div class="container mt-5">
  <!-- Filtros de notificación -->
  <h1>Notificaciones</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <p class="btn-group-header"><strong>Filtrar por:</strong></p>
      <div class="btn-group" role="group" aria-label="Filtro de Notificaciones">
        <button type="button" class="btn btn-outline-secondary" (click)="filterNotifications('all')">Todas</button>
        <button type="button" class="btn btn-outline-secondary" (click)="filterNotifications('unread')">No Leídas</button>
        <button type="button" class="btn btn-outline-secondary" (click)="filterNotifications('read')">Leídas</button>
      </div>
    </div>
    <div>
      <p class="btn-group-header"><strong>Ordenar por:</strong></p>
      <div class="btn-group" role="group" aria-label="Orden de Notificaciones">
        <button type="button" class="btn btn-outline-secondary" (click)="sortNotifications('asc')">Ascendente</button>
        <button type="button" class="btn btn-outline-secondary" (click)="sortNotifications('desc')">Descendente</button>
      </div>
    </div>
    <div>
      <p class="btn-group-header"><strong>Acciones:</strong></p>
      <div class="btn-group" role="group" aria-label="Acciones de Notificaciones">
        <button type="button" class="btn btn-outline-secondary" (click)="markAllAsRead()">Marcar todas como leídas</button>
        <button type="button" class="btn btn-outline-secondary" (click)="deleteReadNotifications()">Eliminar Leídas</button>
      </div>
    </div>
  </div>

  <hr>

  <!-- Lista de notificaciones -->
  <div class="list-group">
    <ng-container *ngFor="let notificacion of paginatedNotifications">
      <div
          class="list-group-item list-group-item-action"
          [ngClass]="{'list-group-item-light': notificacion.leida, 'list-group-item-warning': !notificacion.leida}"
          >
          <div>
            <h3 class="mb-1 notification-content">{{ notificacion.contenido }}</h3>
            <small class="text-muted">{{ notificacion.fecha | date:'short' }}</small>
            <p class="mb-1">Emisor: {{ notificacion.emisor }}</p>
          </div>

          <!-- Botones de acción -->
          <div class="d-flex justify-content-end">
            <div>
              
              <!-- Botón para marcar notificación como leída -->
              <button
                  *ngIf="!notificacion.leida"
                  type="button"
                  class="btn btn-success btn-sm btn-icon"
                  (click)="markAsRead(notificacion.id)"
                  >
                  <i class="bi bi-eye-slash"></i> 
              </button>

              <!-- Botón para marcar notificación como no leída -->
              <button
                  *ngIf="notificacion.leida"
                  type="button"
                  class="btn btn-warning btn-sm btn-icon"
                  (click)="markAsUnread(notificacion.id)"
                  >
                  <i class="bi bi-eye"></i>
              </button>

      <!-- Botón para eliminar notificación -->
      <button
          *ngIf="notificacion.leida"
          type="button"
          class="btn btn-danger btn-sm btn-icon"
          (click)="deleteNotification(notificacion.id)"
          >
          <i class="bi bi-trash"></i> 
      </button>

            </div>
          </div>
      </div>
    </ng-container>
  </div>

  <!-- Paginación -->
  <nav aria-label="Paginación de Notificaciones" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="prevPage()">Anterior</button>
      </li>
      <li *ngFor="let page of totalPages" class="page-item" [class.active]="page === currentPage">
        <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPageCount">
        <button class="page-link" (click)="nextPage()">Siguiente</button>
      </li>
    </ul>
  </nav>
</div>
