


.login-card {
    min-height: 80vh;
    animation: fadein 1s ease-in-out;
    margin-bottom: 5rem;
}

.login-content {
    animation: fadein 1.5s ease-in-out;
    min-height: 100%;
    height: 80vh;
}

.login-header {
    font-size: 2.5rem;
    color: #000000;
    letter-spacing: 0.2rem;
    font-weight: bold;
    animation: fadein 1.75s ease-in-out;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.login-form {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    width: 100%;
}



@media screen and (max-width: 959px) {
    .login-aside {
        display: none;
    }
    .container-fluid {
        width: 100%;
    }
}

.login-button {
    margin-bottom: 1rem;
    background-color: white;
    color: #002855;
    border: 2px solid #002855;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #002855;
    color: white;
}
.forgot-link {
    text-decoration: none;
    color: #000000;
    margin-top: 2rem; /* Adjusted margin-top */
    margin-left: 1rem;
    font-size: 0.9rem;
}

.forgot-link:hover {
    text-decoration: underline;
}

