.not-found-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.not-found-error-image {
  width: 100%;
  max-width: 500px;
  margin-bottom: 3rem;
}

.not-found-error {
  font-size: 3rem;
  font-weight: bold;
}
