<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <img [src]="actividad?.poster" alt="Actividad" class="activity-img" *ngIf="actividad?.poster">
          <img src="https://t3.ftcdn.net/jpg/00/72/98/56/360_F_72985661_LU1Xk0YQiPBwOuesuuJgwTn0NPlwP8ob.jpg" alt="Actividad" class="activity-img" *ngIf="!actividad?.poster">
        </div>
        <div class="card-body">
          <h1 class="activity-title" *ngIf="!isEditable">{{actividad?.nombre}}</h1>
          <label *ngIf="isEditable && actividad !== null" for="name"><h2>Nombre:</h2></label>
          <input type="text" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.nombre" placeholder="Nombre de la actividad">

          <h2 *ngIf="!isEditable"><span class="badge text-bg-secondary">{{actividad?.estado}}</span></h2>
          <label *ngIf="isEditable && actividad !== null" for="state"><h2>Estado:</h2></label>
          <select class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.estado">
            <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
          </select>

          <p *ngIf="!isEditable">{{actividad?.descripcion}}</p>
          <label *ngIf="isEditable && actividad !== null" for="description"><h2>Descripción:</h2></label>
          <textarea *ngIf="isEditable && actividad !== null" class="form-control" [(ngModel)]="actividad.descripcion" rows="5" placeholder="Descripción de la actividad"></textarea>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6">
          <label for="date"><h2>Fecha:</h2></label>
          <input type="text" id="date" class="form-control" value="{{getDate()}}" disabled *ngIf="!isEditable">
          <input type="date" id="date" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="nuevaFecha">

          <label for="time"><h2>Hora:</h2></label>
          <input type="text" id="time" class="form-control" value="{{getTime()}}" disabled *ngIf="!isEditable">
          <input type="time" id="time" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="nuevaHora">

          <label for="week"><h2>Semana:</h2></label>
          <input type="number" id="week" class="form-control" value="{{actividad?.semana}}" disabled *ngIf="!isEditable">
          <input type="number" id="week" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.semana">

          <label for="responsibles"><h2>Responsable:</h2></label>
          <input type="text" id="responsibles" class="form-control" value="{{actividad?.responsable?.obtenerNombreCompleto()}}" disabled *ngIf="!isEditable">
          <!-- TODO: Add a list of responsibles -->

          <label for="type"><h2>Tipo:</h2></label>
          <input type="text" id="type" class="form-control" value="{{actividad?.tipo}}" disabled *ngIf="!isEditable">
          <select class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.tipo">
            <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="days"><h2>Días para anunciar:</h2></label>
          <input type="number" id="days" class="form-control" value="{{actividad?.diasPreviosAnunciar}}" disabled *ngIf="!isEditable">
          <input type="number" id="days" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.diasPreviosAnunciar">

          <label for="reminderDays"><h2>Días para recordatorios:</h2></label>
          <input type="number" id="reminderDays" class="form-control" value="{{actividad?.diasRequeridosRecordatorio}}" disabled *ngIf="!isEditable">
          <input type="number" id="reminderDays" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.diasRequeridosRecordatorio">

          <label for="modality"><h2>Modalidad:</h2></label>
          <input type="text" id="modality" class="form-control" value="{{actividad?.modalidad}}" disabled *ngIf="!isEditable">
          <select class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.modalidad">
            <option *ngFor="let modalidad of modalidades" [value]="modalidad">{{modalidad}}</option>
          </select>

          <label for="place"><h2>{{getPlaceLinkLabel()}}</h2></label>
          <input type="text" id="place" class="form-control" value="{{actividad?.lugarEnlace}}" disabled *ngIf="!isEditable">
          <input type="text" id="place" class="form-control" *ngIf="isEditable && actividad !== null" [(ngModel)]="actividad.lugarEnlace">
        </div>
      </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary activity-btn" (click)="goBack()" *ngIf="!isEditable">Volver</button>
    <button class="btn btn-primary activity-btn" (click)="showComments()" *ngIf="!isEditable">Ver Comentarios</button>
    <button class="btn btn-primary activity-btn" (click)="showEvidences()" *ngIf="actividad?.estado === 'REALIZADA' && !isEditable">Ver Evidencias</button>
    <button class="btn btn-primary activity-btn" (click)="editActivity()" *ngIf="!isEditable">Editar</button>

    <button class="btn btn-primary activity-btn" (click)="saveActivity()" *ngIf="isEditable">Guardar</button>
    <button class="btn btn-primary activity-btn" (click)="cancelEditActivity()" *ngIf="isEditable">Cancelar</button>
  </div>
</div>
