<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <img [src]="actividad?.poster" alt="Actividad" class="activity-img" *ngIf="actividad?.poster">
          <img src="https://t3.ftcdn.net/jpg/00/72/98/56/360_F_72985661_LU1Xk0YQiPBwOuesuuJgwTn0NPlwP8ob.jpg" alt="Actividad" class="activity-img" *ngIf="!actividad?.poster">
        </div>
        <div class="card-body">
          <h1 class="activity-title">{{actividad?.nombre}}</h1>
          <h2><span class="badge text-bg-secondary">{{actividad?.estado}}</span></h2>

          <p>{{actividad?.descripcion}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="row">
        <div class="col-md-6">
          <label for="date"><h2>Fecha:</h2></label>
          <input type="text" id="date" class="form-control" value="{{getDate()}}" disabled>

          <label for="time"><h2>Hora:</h2></label>
          <input type="text" id="time" class="form-control" value="{{getTime()}}" disabled>

          <label for="week"><h2>Semana:</h2></label>
          <input type="number" id="week" class="form-control" value="{{actividad?.semana}}" disabled>

          <label for="responsibles"><h2>Responsables:</h2></label>
          <input type="text" id="responsibles" class="form-control" value="{{actividad?.responsable?.obtenerNombreCompleto()}}" disabled>

          <label for="type"><h2>Tipo:</h2></label>
          <input type="text" id="type" class="form-control" value="{{actividad?.tipo}}" disabled>
        </div>
        <div class="col-md-6">
          <label for="days"><h2>Días para anunciar:</h2></label>
          <input type="number" id="days" class="form-control" value="{{actividad?.diasPreviosAnunciar}}" disabled>

          <label for="reminderDays"><h2>Días para recordatorios:</h2></label>
          <input type="number" id="reminderDays" class="form-control" value="{{actividad?.diasRequeridosRecordatorio}}" disabled>

          <label for="modality"><h2>Modalidad:</h2></label>
          <input type="text" id="modality" class="form-control" value="{{actividad?.modalidad}}" disabled>

          <label for="place"><h2>{{getPlaceLinkLabel()}}</h2></label>
          <input type="text" id="place" class="form-control" value="{{actividad?.lugarEnlace}}" disabled>
        </div>
      </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary activity-btn" (click)="goBack()">Volver</button>
    <button class="btn btn-primary activity-btn" (click)="showComments()">Ver Comentarios</button>
    <button class="btn btn-primary activity-btn" (click)="showEvidences()" *ngIf="actividad?.estado === 'REALIZADA'">Ver Evidencias</button>
    <button class="btn btn-primary activity-btn">Modificar Actividad</button>
  </div>
</div>
